body, * {
    box-sizing: border-box;
    font-family: monospace;
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em;
    color: #d1d2cc;
    background-color: #41423b;
}

a {
    color: #d1d2cc;
}

.hide-loading { display: none }

#welcome {
    background-color: #333;
    padding: 1em;
    margin-bottom: 1em;
}

.ace_editor {
    height: 100%;
}

x-notebook {
    display: block;
    max-height: calc(100% - 2em);
    overflow-y: scroll;
}

x-cell {
    display: block;
    margin-bottom: 1em;
    box-shadow: 2px 3px 20px 0 black;
    border: 1px solid black;
    margin-right: 1em;
}

@keyframes pulse {
    0% {
        border-bottom-color: rgba(255, 255, 0, 1);
    }
    50% {
        border-bottom-color: rgba(255, 255, 0, 0);
    }
    100% {
        border-bottom-color: rgba(255, 255, 0, 1);
    }
}

x-cell {
    border-bottom: none;
}

x-cell.running {
    animation: pulse 5s infinite;
    border-bottom: 1px solid yellow;
}
x-cell.error {
    border-bottom: 1px solid red;
}
x-cell.done {
    border-bottom: 1px solid rgba(0, 255, 0, .5);
}


x-cell-header {
    display: flex;
    justify-content: space-between;
    position: relative;
    height: 14px;
    padding-left: .3em;
    width: 100%;
}

x-cell-header .material-icons {
    font-size: 12px;
    cursor: pointer;
}

x-cell-header-right {
    display: block;
}
x-cell-header .material-icons:hover, x-cell-footer .material-icons:hover {
    border-bottom: 1px solid #ccc;
}
x-cell-footer {
    display: block;
    text-align: center;
}

x-cell-footer .material-icons {
    cursor: pointer;
    font-size: 12px;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

x-input {
    display: block;
    height: 14px;
    clear: both;
}

x-output {
    display: block;
    padding: 1em;
    background-color: #222222;
    border-top: 1px dashed #666;
}

x-input delete-button {
    position:absolute;
    top:0;
    right:1em;
    cursor: pointer;
}

x-input delete-button::before {
    content: 'x';
}

x-result {
    display: block;
    margin-bottom: 1em;
    max-width: 100%;
    word-wrap: break-word;
    white-space: pre-wrap;
}

x-placeholder {
    display: block;
    margin-bottom: 1em;
    height: 0;
    transition: all .5s;
}

x-placeholder.collapse {
    margin-bottom: 0;
}

#console {
    width: 100%;
    display: flex;
    align-items: center;
    height: 3em;
    padding-top: .5em;
    border-top: 1px dashed #ccc;
    transition: height .5s;
}

#console.multi {
    height:12em;
}

#console.multi #console-input {
    line-height: 1em;
    overflow-y: auto;
}

#console-input {
    overflow-y: hidden;
    height: 100%;
    margin-left: 1em;
    padding-left: .5em;
    flex: 1;
    border:1px solid #2222ff;
    line-height: 2em;
    resize: none;
}
