body, * {
    box-sizing: border-box;
    font-family: monospace;
    margin: 0;
}

html {
    height: 100%;
}

body {
    height: 100%;
    display: flex;
    flex-direction: column;
    padding: 1em;
}

#welcome {
    background-color: #ccc;
    margin-bottom: 1em;
}

#commands {
    max-height: calc(100% - 2em);
    overflow-y: auto;
}

x-input {
    background-color: #eee;
    border: 1px solid #c2cbff;
    border-collapse: collapse;
    white-space: pre-wrap;
    display: block;
    position: relative;
}
x-input::before {
    content: '> ';
}

x-input delete-button {
    position:absolute;
    top:0;
    right:1em;
    cursor: pointer;
}

x-input delete-button::before {
    content: 'x';
}

x-result {
    display: block;
    margin-bottom: 1em;
    max-width: 100%;
    word-wrap: break-word;
}

x-placeholder {
    display: block;
    margin-bottom: 1em;
    height: 0;
    transition: all .5s;
}

x-placeholder.collapse {
    margin-bottom: 0;
}

#console {
    width: 100%;
    display: flex;
    align-items: center;
    height: 3em;
    padding-top: .5em;
    border-top: 1px dashed #ccc;
    transition: height .5s;
}

#console.multi {
    height:12em;
}

#console.multi #console-input {
    line-height: 1em;
    overflow-y: auto;
}

#console-input {
    overflow-y: hidden;
    height: 100%;
    margin-left: 1em;
    padding-left: .5em;
    flex: 1;
    border:1px solid #2222ff;
    line-height: 2em;
    resize: none;
}
